<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectAndroid"
        tools:targetApi="31">
        <activity
            android:name=".suppliermin"
            android:exported="false" />
        <activity
            android:name=".supplieradd"
            android:exported="false" />
        <activity
            android:name=".RentalSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".CarInformationView"
            android:exported="false" />
        <activity
            android:name=".Status"
            android:exported="false" />

        <activity
            android:name=".CarListActivity"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoosseCar"
            android:exported="false" />
        <activity
            android:name=".Suppliers"
            android:exported="false" />
        <activity
            android:name=".Brand"
            android:exported="false" />
        <activity
            android:name=".Rental_or_stauts"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="true" />
    </application>

</manifest>